[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
fastapi-jwt-auth = "*"
passlib = "*"
pydantic = "<2.0"
bcrypt = "==3.2.0"
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.12"
